#SUPABASE_PROJECT_ID="giwttvzmakofuaoguxmg"
#SUPABASE_PUBLISHABLE_KEY="sb_publishable_ia8y5Avd9hb_P8DzLgbKKQ__Pomp2zA"
#SUPABASE_URL="https://giwttvzmakofuaoguxmg.supabase.co"
#VITE_SUPABASE_PROJECT_ID="giwttvzmakofuaoguxmg"
#VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_ia8y5Avd9hb_P8DzLgbKKQ__Pomp2zA"
#VITE_SUPABASE_URL="https://giwttvzmakofuaoguxmg.supabase.co"
